body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f172a;
  color: #e2e8f0;
}

header {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #1e293b, #020617);
}

h1 {
  margin: 0;
  font-size: 40px;
}

p {
  color: #94a3b8;
}

section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  border-left: 4px solid #38bdf8;
  padding-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #1e293b;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #334155;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  font-size: 14px;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/* Foto Profil */
.profile {
  width: 120px;
  height: 120px;
  border-radius: 20%;
  object-fit: cover;
  margin-top: 20px;
  border: 3px solid #38bdf8;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(2, 6, 23, 0.7);
  backdrop-filter: blur(12px);
  z-index: 1000;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.nav-container {
  max-width: 1000px;
  margin: auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 60px;
  width: 60px;
  border-radius: 20%;
  object-fit: cover;
  border: 2px solid #38bdf8;
}

.logo span {
  font-weight: 600;
  color: #e2e8f0;
  font-size: 18px;
}

/* NAV */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #94a3b8;
  font-size: 14px;
  position: relative;
  transition: 0.3s;
}

/* Hover effect */
.nav-links a:hover {
  color: #38bdf8;
}

/* Underline animation */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}